.form__activity {
  padding: 15% 7%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  border: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 3px;
  border: solid 0.3rem var(--primary);
  margin: 10%;
  border-radius: 30px;
}

.form__button-submit {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 3px;
  background-color: var(--secondary);
  color: white;
  padding: 0.9rem;
  font-size: 1.1rem;
  position: relative;
  justify-content: center;
}

.form__button-submit:focus {
  background-color: var(--secondary);
  color: var(--background);
}

.form__goodweather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__name {
  color: var(--primary);
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

.form__label {
  color: var(--primary);
}

.form__input {
  height: 50px;
  border-radius: 10px;
  border: solid 0.15rem var(--primary);
  padding-left: 1rem;
  background-color: var(--background);
  color: var(--primary);
  font-weight: 1rem;
}
input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 5px var(--primary);
}

.form__checkbox {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  accent-color: var(--primary);
}
