.list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.list__item {
    border-radius: 5px;
    border: salmon solid 2px;
    background-color: bisque;
}