.list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 50px;
  padding-right: 50px;
}

.list__header{
  font-size: 1.4rem;
  text-align: center;
  color:var(--darkblue);
}
.list__item {
  display: flex;
  align-items: center;
  background-color: var(--green);
  color: white;
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1;
  gap: 0.8rem;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 3px;
}
.list__item-activity {
  border: none;
  padding: 0.7rem;
  place-items: center;
  
}

.list__item:hover {
  background-color: var(--greenlight);
  color: var(--pink);
}

.list__item-activity--delete{
  border: none;
  font-size: 1.5rem;
  background: none;
  color: white;
  transform: rotate(180deg);
  transition-duration: 3s;
}

