.header__weather {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    top: 50px;
    margin: 25px;
    padding: 5px;
    size: large;
    font-size: 60px;
    border-radius:  25px;
    color: var(--green);
    border: solid var(--green);
    border-width: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 5px 3px;
    background-color: var(--greenblueo) ;
   } 