:root {

--greenblue:#689fa1;
--greenlight:	#3b8e93;
--green:	#18676b;
--rose:#a25678;
--pink:#e9ced6;
--darkblue: #434d67;

--blue: #1d71f2;
--lighter-blue: #1c9cf6;
--light-blue:#e1f3fe;
--light-yellow:rgb(252, 228, 204);
--yellow:#ffcd00;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--pink);
}

